<!doctype html>
<html ng-app="app">
   <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Escola</title>
      <link href="app/view/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="app/view/css/sb-admin-2.min.css" rel="stylesheet">

   </head>
   <body id="page-top">
      
     <!-- Page Wrapper -->
     <div id="wrapper">

       <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

         <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
           <div class="sidebar-brand-text mx-3">Escola</div>
         </a>

         <li class="nav-item" ng-repeat="(key, line) in menu">

           <div ng-if="line.subitem.length > 0"> 
             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
               <i ng-class="line.icon"></i>
               <span>{{line.nome}}</span>
             </a>
             <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                 <a class="collapse-item" ng-repeat="(key, subLine) in line.subitem" href="{{subLine.rota}}" ng-class="{active: activetab == subLine.rota }">
                  {{subLine.nome}}
                 </a>
               </div>
             </div>             
           </div>
           <div ng-if="!line.subitem">
             <a class="nav-link" href="{{line.rota}}" ng-class="{active: activetab == line.rota }">
               <i ng-class="line.icon"></i>
               <span>{{line.nome}}</span>
             </a>             
           </div>

         </li>

       </ul>

       <!-- Content Wrapper -->
       <div id="content-wrapper" class="d-flex flex-column">
         <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>

              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar por..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Fulano de tal</span>
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="perfilAluno.html">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Perfil
                    </a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Sair
                    </a>
                  </div>
                </li>

              </ul>

            </nav>
            <!-- End of Topbar -->


            <div ng-view class="container-fluid"></div>

         </div>
       </div>
       <!-- End of Content Wrapper -->

     </div>
     <!-- End of Page Wrapper -->

     <!-- Scroll to Top Button-->
     <a class="scroll-to-top rounded" href="#page-top">
       <i class="fas fa-angle-up"></i>
     </a>

     <!-- Logout Modal-->
     <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
             </button>
           </div>
           <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
           <div class="modal-footer">
             <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
             <a class="btn btn-primary" href="login.html">Logout</a>
           </div>
         </div>
       </div>
     </div>

      <!-- Bootstrap core JavaScript-->
      <script src="app/view/vendor/jquery/jquery.min.js"></script>
      <script src="app/view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="app/view/vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="app/view/js/sb-admin-2.min.js"></script>

      <!-- Page level plugins -->
      <script src="app/view/vendor/chart.js/Chart.min.js"></script>

      <!-- Page level custom scripts -->
      <script src="app/view/js/demo/chart-area-demo.js"></script>
      <script src="app/view/js/demo/chart-pie-demo.js"></script>

      <script src="imports/angular.min.js"></script>
      <script src="imports/angular-route.min.js"></script>
      <script src="app/app.js"></script>
      <script src="app/controllers/aluno.js"></script>
   </body>
</html>

<!-- 
   <li ng-class="{active: activetab == '/'}">
      <a href="/home">Home</a>
   </li>
 -->