<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Química</h1>
</div>          

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Histórico faltas</h6>
      </div>
      <div class="card-body">
    
      </div>
    </div>                
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Material e atividades</h6>
      </div>
      <div class="card-body">

        <div class="col-xl-12 col-md-12 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Aviso</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Galera hoje não haverá aula, to mt chapado de droga por causa do galo!</div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="text-right text-xs col-12">
                  Postado 05/03/2019
                </div>                          
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12 col-md-12 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Atividade complementar</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Segue em anexo o material para o teste</div>
                </div>
                <div class="col-auto pointer">
                  <i class="fas fa-file fa-2x "></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="text-left text-xs col-6">
                  <input type="button" class="btn btn-success btn-sm" value="Entregar">
                </div>
                <div class="text-right text-xs col-6 mt-2">
                  Postado 03/02/2019
                </div>                          
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-xl-12 col-md-12 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Material de estudo</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">Segue em anexo o livro que iremos ter como base para o estudo da matéria</div>
                </div>
                <div class="col-auto pointer">
                  <i class="fas fa-file fa-2x "></i>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="text-right text-xs col-12">
                  Postado 02/02/2019
                </div>                          
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>                
  </div>
</div>
