
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Biblioteca</h1>
</div>

<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Filtre sua pesquisa</h6>
      </div>
      <div class="card-body">

        <form id="formPerfil" class="row">
          <div class="form-group col-4">
            <input type="email" class="form-control form-control-user" placeholder="Por título">
          </div>
          <div class="form-group col-2">
            <select class="form-control form-control-user">
              <option value="">Por genero</option>
              <option value="didatico">Didatico</option>
              <option value="historia">História</option>
              <option value="biologia">Biologia</option>
            </select>
          </div>
          <div class="form-group col-2">
            <input type="email" class="form-control form-control-user" placeholder="Por autor">
          </div>
          <div class="form-group col-2">
            <input type="email" class="form-control form-control-user" placeholder="Por situação">
          </div>
          <div class="form-group col-2">
            <input type="button" class="btn btn-info form-control form-control-user" value="Filtrar">
          </div>
        </form>

        <div class="col-lg-12 mb-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>COD</td>
                <td>Titulo do livro</td>
                <td>Genero</td>
                <td>Autor</td>
                <td>Situação</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>001</td>
                <td>A origem das espécies</td>
                <td>Didatico - biologia</td>
                <td>Charlies Darwin</td>
                <td> <div class="badge bg-danger text-white" title="Faltam 3 dias para ficar disponível"> Alugado </div>  </td>
              </tr>                
              <tr>
                <td>002</td>
                <td>Sapiens</td>
                <td>Didatico - História</td>
                <td>Yuval Noah Harari</td>
                <td> <div class="badge bg-success text-white">Disponível</div>  </td>
              </tr>                
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
