
<div class="row">
  <div class="col-2 mb-4">
    <div class="card bg-danger text-white shadow">
      <div class="card-body">
        1
        <div class="text-white-50 small">Livro(s) em atraso</div>
      </div>
    </div>
  </div>

  <div class="col-2 mb-4">
    <div class="card bg-warning text-white shadow">
      <div class="card-body">
        1
        <div class="text-white-50 small">Livro(s) alugado(s)</div>
      </div>
    </div>
  </div>

  <div class="col-6"></div>
  <div class="col-2">
    <button class="btn btn-success float-right mt-5"> 
      <i class="fas fa-book"></i>
      Cadastrar Livro 
    </button>
  </div>

</div>

<div class="card shadow mb-4">
  <div class="card-body">

    <form id="formPerfil">
      <div class="row">                
        <div class="form-group col-3">
          <input type="email" class="form-control form-control-user" placeholder="Por título">
        </div>
        <div class="form-group col-2">
          <select class="form-control form-control-user">
            <option value="">Por genero</option>
            <option value="didatico">Didatico</option>
            <option value="historia">História</option>
            <option value="biologia">Biologia</option>
          </select>
        </div>
        <div class="form-group col-2">
          <input type="email" class="form-control form-control-user" placeholder="Por autor">
        </div>
        <div class="form-group col-2">
          <select class="form-control form-control-user">
            <option value="">Por situação</option>
            <option value="didatico">Alugado</option>
            <option value="didatico">Disponível</option>
          </select>
        </div>
        <div class="form-group col-3">
          <input type="text" class="form-control form-control-user" placeholder="Busque pelo livro alugado pelo aluno">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <select class="form-control form-control-user">
            <option value="">Livros alugados por turma</option>
            <option value="didatico">Didatico</option>
            <option value="historia">História</option>
            <option value="biologia">Biologia</option>
          </select>
        </div>
        <div class="form-group col-2">
          <input type="text" class="form-control form-control-user" placeholder="Busque pelo código">
        </div>
        <div class="col-5"></div>
        <div class="form-group col-2">
          <input type="button" class="btn btn-info form-control form-control-user" value="Filtrar">
        </div>                  
      </div>
    </form>


    <table class="table table-striped">
      <thead>
        <tr>
          <td>COD</td>
          <td>Titulo do livro</td>
          <td>Genero</td>
          <td>Autor</td>
          <td>Situação</td>
          <td>Alugado para</td>
          <td>Operação</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>A origem das espécies</td>
          <td>Didatico - biologia</td>
          <td>Charlies Darwin</td>
          <td> <div class="badge bg-warning text-white" title="Faltam 3 dias para ficar disponível"> Alugado </div>  </td>
          <td class="btn btn-link">Fulano</td>
          <td> 
            <button class="btn btn-danger btn-sm col-5" title="Dar baixa">
              <i class="fas fa-download"></i>
            </button>
            <button class="btn btn-info btn-sm col-5" title="Editar dados do livro">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>002</td>
          <td>Sapiens</td>
          <td>Didatico - História</td>
          <td>Yuval Noah Harari</td>
          <td> <div class="badge bg-success text-white">Disponível</div>  </td>
          <td></td>
          <td> 
            <button class="btn btn-success btn-sm col-5">
              <i class="fas fa-upload"></i>
            </button>
            <button class="btn btn-info btn-sm col-5" title="Editar dados do livro">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>003</td>
          <td>...Com uma faca</td>
          <td>Terror</td>
          <td> Não sei... </td>
          <td> <div class="badge bg-danger text-white">Atrasado</div>  </td>
          <td class="btn btn-link">Beltrano</td>
          <td> 
            <button class="btn btn-danger btn-sm col-5" title="Dar baixa">
              <i class="fas fa-download"></i>
            </button>
            <button class="btn btn-info btn-sm col-5" title="Editar dados do livro">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td>004</td>
          <td>Roza dou pra quem ta morta...</td>
          <td>Didatico - brega</td>
          <td>...pra quem ta vivo dou é piroca</td>
          <td> <div class="badge bg-success text-white">Disponível</div>  </td>
          <td></td>
          <td> 
            <button class="btn btn-success btn-sm col-5">
              <i class="fas fa-upload"></i>
            </button>
            <button class="btn btn-info btn-sm col-5" title="Editar dados do livro">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
