
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Financeiro</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-file-invoice-dollar fa-1x"></i> 
              Gerar boleto
            </a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-lg-12 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Histórico de pagamento</h6>
                </div>
                <div class="card-body">

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>Data competencia</td>
                        <td>Data emissão</td>
                        <td>Data vencimento</td>
                        <td>Status</td>
                        <td>Observação</td>
                        <td>Operação</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>03/2019</td>
                        <td>28/02/2019</td>
                        <td>02/03/2019</td>
                        <td>AGUARDANDO PAGAMENTO</td>
                        <td>Gerado pelo usuário</td>
                        <td> <a href="#">LINK BOLETO</a> </td>
                      </tr>
                      <tr>
                        <td>02/2019</td>
                        <td>11/02/2019</td>
                        <td>13/02/2019</td>
                        <td>PAGO</td>
                        <td>Gerado pelo sistema</td>
                        <td> - </td>
                      </tr>
                      <tr>
                        <td>01/2019</td>
                        <td>10/02/2019</td>
                        <td>12/02/2019</td>
                        <td>PAGO</td>
                        <td>Gerado pelo sistema</td>
                        <td> - </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>

            </div>
          </div>

        </div>
